html, body {
    width: 99%;
    height: 95%;
    padding: 0;
}

#app {
    width: 80%;
    height: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#command-display {
    background-color: black;
    height: 100%;
    display: none;
    width: 100%;
}

img {
    object-fit: contain;
}

#text-output {
    box-sizing: border-box;
    font-size: 36px;
    font-family: Arial;
    user-select: none;
    text-align: center;
    display: none;
    width: 100%;
}

#current-command {
    display: none;
    font-family: Monospace;
    text-align: left;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

code {
    font-family: Monospace;
    background-color: #f0f0f0;
    padding: 3px;
}

pre, pre code {
    font-family: Monospace;
    font-size: 24px;
    text-align: left;
    line-height: 0.7em;
    tab-size: 4;
}
