<!DOCTYPE html>
<html>
    <head>
        <title>Backend Demo</title>
        <base target="_blank">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div id="controls">
            <select id="page-select"></select>
        </div>
        <main id="app">  
            <div id="current-command"></div>
            <iframe id="command-display" frameBorder="0"></iframe>
            <div id="text-output"></div>
            <div id="command-control-wrapper">
                <button class="command-control" onclick="runCommand()">Run Command</button>&nbsp;&nbsp;
                <input type="checkbox" id="auto-refresh-command">
                <label for="auto-refresh-command" title="Automatically re-run command">Refresh&nbsp;&nbsp;</label>
                <select id="seconds">
                    <option value="1">1 seconds</option>
                    <option value="2">2 seconds</option>
                    <option value="3">3 seconds</option>
                    <option value="5">5 seconds</option>
                    <option value="10">10 seconds</option>
                 </select>
            </div>
        </main>
        <script type="text/javascript">
            const commandTag = "{{ command_tag }}";
            const textTag = "{{ text_tag }}";
            const imageTag = "{{ image_tag }}";
            const codeTag = "{{ code_tag }}";
        </script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    </body>
</html>
