name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"
      - name: Lint Server
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: server
          version: v2.6
      - name: Lint CLI
        uses: golangci/golangci-lint-action@v9
        with:
          working-directory: backend-demo
          version: v2.6

  test:
    name: Run Go Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"
      - name: Run tests
        run: |
          cd server
          go mod tidy
          go test ./... -cover -v
